{% extends "base.html" %}

{% block title %}Sobre Nós{% endblock %}

{% block content %}
<section>
    <h2>Sobre a NeoByte Tech</h2>
    <p>Na NeoByte Tech, somos movidos por tecnologia, inovação e paixão por games. Criamos esta loja com um único objetivo: oferecer os melhores eletrônicos, acessórios e periféricos gamers do mercado, com qualidade, confiança e performance de verdade.

Sabemos que cada clique, cada frame e cada detalhe importam. Por isso, trabalhamos com marcas líderes e produtos selecionados para elevar sua experiência — seja você um gamer casual, um streamer ou um competidor hardcore.

Nossa missão é simples: conectar você ao que há de melhor no universo gamer e tech, com atendimento ágil, entrega segura e uma comunidade que compartilha da mesma paixão.

Prepare-se para o próximo nível. A vitória começa aqui..</p>
</section>
{% endblock %}